<a href="https://colab.research.google.com/github/g-molnar/python-statements/blob/main/python_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Statements

In [1]:
print ("Hello World")

Hello World

## Defining Variables

## Loops

In [2]:
for i in range(10):
    print(f"This is the loop number: {i}")

This is the loop number: 0
This is the loop number: 1
This is the loop number: 2
This is the loop number: 3
This is the loop number: 4
This is the loop number: 5
This is the loop number: 6
This is the loop number: 7
This is the loop number: 8
This is the loop number: 9

### List

In [4]:
my_basket = ["eggs", "butter", "apple"]

Count items in basket

In [7]:
len(my_basket)

3

In [8]:
for food in my_basket:
  print(f"I am hungry and I am going to eat: {food}")

I am hungry and I am going to eat: eggs
I am hungry and I am going to eat: butter
I am hungry and I am going to eat: apple

### Dictionary

In [11]:
my_dict = {"one": "apple", "two": "eggs", "three": "butter"}

In [12]:
len(my_dict)

3

In [14]:
my_dict.keys()

dict_keys(['one', 'two', 'three'])

In [15]:
my_dict["one"]

'apple'

## 0(1) Lookup

In [16]:
"one" in my_dict

True

In [17]:
"five" in my_dict

False

In [18]:
my_dict.values()

dict_values(['apple', 'eggs', 'butter'])

### Looping with dictionairy

In [22]:
for number, food in my_dict.items():
    print(f"This is {number}: This is food {food}")

This is one: This is food apple
This is two: This is food eggs
This is three: This is food butter

### Math Statements

Use Pyrthon as calculator to learn it

In [23]:
1+1

2

In [24]:
100 * .20

20.0

In [25]:
2**2

4

### Real World Math Problem (budget)

In [26]:
expenses = [5, 90, 200, 20000]

In [27]:
total = 0
for expense in expenses:
  total += expense
  print(f"Adding the following expenses: TOTAL {total}, EXPENSE {expense}")

Adding the following expenses: TOTAL 5, EXPENSE 5
Adding the following expenses: TOTAL 95, EXPENSE 90
Adding the following expenses: TOTAL 295, EXPENSE 200
Adding the following expenses: TOTAL 20295, EXPENSE 20000